<footer class="bg-dark footer mt-auto">
    <div class="container py-1 text-muted">
       
        
        <hr style="height:2px;">
    </div>
    <div class="row m-0 p-0" style="color: black;">
        <div class="col-md-4 p-0 p-md-1"><h5 class="mb-0"></h5>
            </div>
        <div class="col-md-4"></div>
        <div class="col-8 col-md-4"><h5 style="text-align-last: right;"></h5></div>
    </div>
    <div class="container py-1">
        <div class="text-center"><span class="text-muted"></span></div>
    </div>
    <div class="row m-0" style="color: #846b70;">
        <div class="col-sm-6 offset-sm-6">
            <span class="d-block" style="text-align-last: right;"></span>
        </div>
    </div>
</footer>